body
{
 background-image:url('Images/white1.jpg');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}

ul
{
 background-color:black;
opacity:0.7;
 margin:0px;
 padding:0px;
 list-style-type:none;
 overflow:hidden;
}

li
{
 float:right;
}

li a
{
 color:white;

 display:block;
 text-align:center;
 padding:16px;
 text-decoration:none;
}
li a:hover
{
 background-color:grey;
}
div
{
 font-family:courier;
 font-size:80%;
 background-color:rgb(0,0,0);
 opacity:0.7;
 color:rgb(0, 190, 102);
 padding:5px;
}
