body
{
  background-image:url('Images/hostel1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
 
}


ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: powderblue;
 opacity:0.7;
}

li {
  float: right;
}
li a {
  display: block;
  color: rgba(236,0,0,100%);
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(239,120,90,70%);
  color: rgba(236,0,100,100%);
}

nav {
background-image:url('Images/black1.jpg');
  float: left;
  width: 20%;
  height: 670px; /* only for demonstration, should be removed */
  background-color:rgb(0, 26, 51);
opacity:0.9;
  padding: 20px;
}


nav ul {
  list-style-type: none;
  padding: 20px;
opacity:0.7;
font-family:verdana;
 font-size:180%;
}

article {
  float: left;
  padding: 20px;
  font-family:verdana;
 font-size:180%;
  width: 73.4%;
  color:white;
  background-color:rgb(0, 53, 102);
  height: 670px; /* only for demonstration, should be removed */
opacity:0.7;
}


section:after {
  content: "";
  display: table;
  clear: both;
opacity:0.7;
}
footer {
  background-color: black;
  padding: 10px;
  text-align: center;
  color: white;
opacity:0.7;
}
